.main-div{
    display: flex;
}

.stream{
    flex-grow: 5;
}

.img{
    width:100%;
    padding: 0px;
    margin: 0px;
    height: 70vh;
}

.control{
    flex-grow:1;
    height: 70vh;
    min-width: 50px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direction_arrow{
    width:50%;
}

.arrow{
    flex-grow: 1;
    height: 8vh;
    display: flex;
    min-width: 14vh;
    justify-content: center;
}

.up-arrow{
    align-items: flex-end;
}

.turn-arrow{
    align-items: center;
}

.down-arrow{
    align-items: flex-start;
}

.stop{
    width:30%;
}

.circle{
    border-radius:50%;
    width:10%;
    padding-top: 10%;
    cursor:pointer;
    background: url("/static/stop.png") no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    min-width:30px;
    min-height:30px;

}

.circle:hover{
    opacity: 0.7;
}

#stop.active{
    opacity:1;
}

.line_follower{
    background: url("/static/line_follower.png") no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    opacity: 1;
}

.controlling{
    background: url("/static/controlling.png") no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    opacity: 1;
}

.gesture{
    background: url("/static/gest.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    opacity: 1;
}

.autonomouse{
    background: url("/static/autonomous.png") no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    opacity: 1;
}

.location{
    background: url("/static/location.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    opacity: 1;
}