<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>remoteRobot</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ bootstrap.load_js() }}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/base.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/mainPage.js') }}"></script>
    {% block header %}{% endblock %}
</head>

<body style="background-color: #eef0f370" {% block body_attr %}{% endblock %}>
    <header>
        <div class="toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <div class="main-container" id="main-container">
        <nav id="sidebar">
            <ul>
                <li>
                    <a class="menu-item" href="{{url_for('index')}}">Strona główna</a>
                </li>
                <li>
                    <a class="menu-item" href="{{url_for('video_preview')}}">Podgląd video</a>
                </li>
                <li>
                    <a class="menu-item" href="{{url_for('data_preview')}}">Wykresy</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a class="menu-item" href="{{url_for('logout')}}">Wyloguj</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>