{% extends "base.html" %}
{% block header %}
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='mainPage.css') }}">
    <script src="{{ url_for('static', filename='mainPage.js') }}"></script>
    <script src="{{ url_for('static', filename='carControl.js') }}"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
{% endblock %}
{% block body_attr %}
    onload="init()"
{% endblock %}
{% block content %}
    <div class="main-div">
        <div class="stream">
            <!--<img class="img" src="{{ url_for('video_stream') }}"/>-->
        </div>
        <div class="control" id="contr">
            <div class="noselect">
              <div class="container space-top">
                <div class="center-align">
                  <canvas id="joystick" height="300" width="300"></canvas>
                </div>
              </div>
            </div>
            <span id="xVal"></span>
            <span id="yVal"></span>
            <div style = "width:100%; margin-top:5%">
                <input style="width:100%; color:green" type="range" min="0" max="180" value="90" class="slider" id="myRange"
                       oninput="horizontalCamera(this.value)" onchange="horizontalCamera(this.value)">
                <input style="width:100%; color:green" type="range" min="0" max="180" value="90" class="slider" id="myRange"
                        oninput="verticalCamera(this.value)" onchange="verticalCamera(this.value)">
            </div>
        </div>
    </div>
    <button onclick="distanceSensorStart()">Start distance sensor</button>
    <button onclick="distanceSensorStop()">Stop distance sensor</button>
    <div id = "warning_distance">asdasd</div>
    <div style=" display: flex; justify-content: space-around; width: 80%; padding:3px">
        <div id="stop" class = "circle" onclick="activeStop()" ></div>
        <div id="" class = "circle line_follower" onclick="activeStop()" ></div>
        <div id="" class = "circle controlling" onclick="hideControl()" ></div>
        <div id="" class = "circle gesture" onclick="activeStop()" ></div>
        <div id="" class = "circle autonomouse" onclick="activeStop()" ></div>
        <div id="" class = "circle location" onclick="activeStop()" ></div>
    </div>
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder">asdasd</div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
            var socket = io('http://' + document.domain + ':' + location.port + '/test');

            socket.on('my response', function(msg) {
                $('#log').append('<p>Received: ' + msg.data + '</p>');
            });

            socket.on('warning response', function(msg) {
                $('#warning_distance').text("warning")
            });

            $('form#emit').submit(function(event) {
                socket.emit('join', "room1");
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('leave', "room1");
                return false;
            });
        });
    </script>
    h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>
{% endblock %}

